<div class="panel panel-default center-block">

    <div class="panel-heading"><h4>Espace Administrateur</h4></div>

    <div class="panel-body">
        <p>
            <a style="text-decoration: none; color: black;" href="">
                <span class=""></span>Espace Joueur</a>
        </p>
        <hr>
        <p>
            <a style="text-decoration: none; color: black;" href="{{ path('sunu_championnat_liste_des_equipes') }}">
                <span class=""></span>Espace Equipe</a>
        </p>
        <hr>
        <p>
            <a style="text-decoration: none; color: black;" href="{{ path('sunu_championnat_index') }}">
                <span class=""></span>Les rencontre</a>
        </p>
         <hr>
        <p>
            <a style="text-decoration: none; color: black;" href="{{ path('sunu_championnat_classement') }}">
                <span class=""></span>Classement</a>
        </p>
        <hr>
        
    </div>
</div>